<div class = "container">
  <div class = "card">
    <div class = "card-body">
      <table class = "table table-stripped">
        <thead>
        <th>ISBN</th>
        <th>Title</th>
        <th>Author</th>
        <th>Genres</th>
        <th>Added By</th>
        <th>Reviews</th>
        </thead>
        <tbody>
        <tr>
          <td> {{book.isbn}}</td>
          <td> {{book.title}}</td>
          <td> {{book.author}}</td>
          <td> {{book.genres}}</td>
          <td> {{book.addedBy}}</td>
           <td>{{book.reviews}}</td>


        </tr>
        </tbody>
      </table>

      <div>
        <form (ngSubmit)="addReview()">
          <input type="text" [(ngModel)]="txtName">
          <button type="submit" >Add Review</button>
        </form>
      </div>
    </div>
  </div>
</div>
