<h3> Add Book </h3>
<main>
<form (ngSubmit)="onSubmit()">
  <div class = "form-group">
    <label>Book Title</label>
    <input type="text" class="form-control" id = "title"
           [(ngModel)]="book.title" name = "title">
  </div>

  <div class = "form-group">
    <label>Author</label>
    <input type="text" class="form-control" id = "author"
           [(ngModel)]="book.author" name = "author">
  </div>

  <div class = "form-group">
    <label>ISBN</label>
    <input type="text" class="form-control" id = "isbn"
           [(ngModel)]="book.isbn" name = "isbn">
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Genres</mat-label>
    <mat-select [formControl]="genreForm" multiple>
      <mat-select-trigger>
        {{book.genres?.[0] || ''}}
        <span *ngIf="(book.genres.values?.length || 0) > 1" class="example-additional-selection">
        (+{{(book.genres.values?.length || 0) - 1}} {{book.genres.values?.length === 2 ? 'other' : 'others'}})
      </span>
      </mat-select-trigger>
      <mat-option *ngFor="let genre of book.genreOptions" [value]="genre">{{genre}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button class="btn btn-success" type="submit"> Submit
  </button>

</form>
</main>
