.book-example-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.book-example-full-width{
    width: 100%;
}

*{
     background-color: #98817b;
  /* background-color: greenyellow;*/
}

.Error{
    font-size: 12px;
}

.lowercase{
  text-transform: lowercase;
}

td{
    padding-right: 8px;

}


.book-example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .book-example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .book-example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .book-example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .book-example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }