<!DOCTYPE html>

<html>

  <head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title></title>

  </head>

  <body>
    <h1>Hello, World!</h1>


    <form class="book-example-form" [formGroup]="form" (ngSubmit)="onSubmit($event)">
      <p>
        <mat-form-field class="book-example-full-width" appearance="fill">
          <mat-label>Book Title</mat-label>
          <input matInput id="bookTitle" placeholder="">
        </mat-form-field>
        </p>
 
      <p>
        <mat-form-field class="book-example-full-width" appearance="fill">
          <mat-label>Author's Name</mat-label>
          <input id="authorName" formControlName="authorName" matInput>
        </mat-form-field>
        </p>
 

      <p>
        <mat-form-field class="book-example-full-width" appearance="fill">
          <mat-label>ISBN</mat-label>
          <mat-error class="Error">Make sure your ISBN is valid!</mat-error>
          <input matInput id="isbn" formControlName="isbn">
        </mat-form-field>
        <mat-form-field class="book-example-full-width" appearance="fill">
          <mat-label>Genres</mat-label>
          <mat-error class="Error">Invalid Genre!</mat-error>
          <input matInput id="genres" class="lowercase" formControlName="genres" lower>
        </mat-form-field>
      </p>

      <div class="book-example-button-row">
      <button mat-flat-button color="primary">Submit</button>
    </div>

    </form>
  </body>
</html>



